@media (max-width: 600px) {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  /* Navbar */
  #sec_1 {
    padding: 0%, 100%;
    height: 88vh;
    display: flex;
  }

  ul {
    position: absolute;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    background-color: #333333;
    z-index: 10000;
  }

  li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }

  .name {
    float: left;
    padding-left: 30%;
    font-size: 20px;
  }

  li a:hover {
    background-color: #111;
  }

  li a.active {
    background-color: #4caf50;
    color: white;
  }

  .nav-item {
    float: right;
  }

  .para {
    display: flex;
    flex-direction: column;
    margin: 50px;
    height: 50vh;
    width: 50vw;
  }
  .heading {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 10px;
    width: 150%;
  }
  .h1 {
    font-size: 32px;
    text-align: center;
  }
  .text_primary {
    color: royalblue;
  }

  .heading p {
    text-align: center;
  }

  .img {
    /* display: flex;
        background-image: url("building.jpg");
        margin-top: 10%;
        float: right;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background-position: right;
        padding: 20%; */
    background-image: url("building.jpg");
    width: 80%;
    height: 50%;
    max-width: 700px;
    position: absolute;
    margin-left: 0%;
    margin-top: 35%;
    flex: 25%;
    border-radius: 100%;
  }

  #sec_3 {
    width: 100%;
    background-image: url("Italy.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(161, 153, 153));
    opacity: 0.7;
  }

  .img_1 {
    position: relative;
    width: 100%;
    height: 0vh;
    margin: 0%;
    padding: 0;
    background: rgba(80, 77, 77, 0.4);
  }

  .img_1 h1 {
    margin: 0%;
    position: absolute;
    top: 5%;
    bottom: 100%;
    transform: translate(40%, 10%);
    font-weight: bold;
    font-size: 38px;
  }

  .cmnt {
    display: flex;

    background-color: bisque;
    width: 80vw;
    height: 25vh;
    margin: 0%;
    transform: translate(10%, 60%);
    font-size: 10px;
    opacity: 1;
  }

  .cmnt p {
    font-size: 11px;
  }

  .cute {
    height: 70px;
    width: 70px;
  }

  .sec_4 {
    background-color: #111;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 0%;
  }
}
