@media (max-width: 600px) {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  /* Navbar */
  #sec_1 {
    padding: 0%, 100%;
    display: flex;
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 10000;
    position: absolute;
    width: 100vw;
    padding-right: 5%;
  }

  li a {
    display: flex;
    color: white;
    text-align: right;
    padding: 8px 10px;
    text-decoration: none;
    float: right;
    font-size: 12px;
  }

  .name {
    float: left;
    padding-left: 8%;
  }

  li a:hover {
    background-color: #111;
  }

  li a.active {
    background-color: #4caf50;
    color: white;
  }

  .nav-item {
    float: right;
    font-size: 20px;
  }

  #sec_2 {
    margin-top: 16%;
  }

  .text-primary {
    color: blue;
  }
  form {
    padding-top: 5%;
  }

  tr {
    margin: 5%;
    padding: 7%;
  }

  .name1 {
    width: 340px;
    padding: 13px;
  }
  .btn {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    transform: translate(170%, 30%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: wheat;
    background-color: black;
    border: 1px solid #3498db;
    cursor: pointer;
    overflow: hidden;
  }
  .btn:hover {
    color: #fff;
  }

  .btn::before {
    content: "";
    position: absolute;
    left: 0%;
    width: 100%;
    height: 0;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0, 0, 50%, 50%;
  }

  .btn:hover::before {
    height: 180%;
  }

  .sec_4 {
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 13.5%;
    height: 40%;
  }
  .foter {
    display: flex;
  }
  .img {
    padding-left: 10%;
    padding-bottom: 5%;
  }
  .loc {
    color: white;
  }

  .name1m {
    height: 70px;
    width: 340px;
  }
}
